.root {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 5rem;
}

.stepsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 6rem;
}