.root {
    background-color: #d4e9e2;
}

.overlay {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-block: 2rem;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.root img {
    width: 8rem;
    height: 8rem;
    margin: 0.625rem;
    border-radius: 50%;
}