.root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.header {
    font-weight: bold;
}

.order {
    border-color: #008248;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    align-self: center;
}