.header {
  display: flex;
  background-color: #1e3932;
  height: 3rem;
  position: sticky;
  top: 0;
  width: 100%;
}


h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  font-size: 1rem;
  margin-left: 6rem;
}