.topbar {
  background-color: #f1f8f6;
  height: 3rem;
  padding: 2rem;
}

.logo {
  height: 3rem;
  width: 3rem;
  float: left;
}

.menu {
  display: flex;
  gap: 2rem;
  margin-left: 10rem;
  height: 100%;
}

.menu a {
  font-family: Helvetica, Arial, sans-serif;
  color: #1e3932;
  font-weight: bolder;
  align-self: center;
  text-decoration: none;
}

.menu a:hover {
  color: #008248;
  cursor: pointer;
}

.menu .active {
  text-decoration: underline;
  text-decoration-thickness: 50%;
  text-underline-offset: 2.7rem;
  text-decoration-color: #008248;
}